:root {
    --color-main: #C4E6E9;
    --color-font: #1D2F5C;
    --color-font2: #105868;
    --color-sub: #206272;
    --color-hover: #2093af;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
}

.flex {
    display: flex;
    gap: 20px;
}

.rate,
.release {
    font-size: 1.3rem;
}

.meta {
    font-size: 1.3rem;
}

.platforms,
.genres {
    padding: 3px 10px;
    color: #ffffff;
    border-radius: 20px;
}

.platforms {
    background-color: #a8b7e9;
}

.genres {
    background-color: #3c9e9e;

}

.game-img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    height: 180px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.flex {
    display: flex;
    gap: 20px;
}

.favorite-icon {
    width: 22px;
    height: auto;
    margin-top: 10px;
    z-index: 50;
    margin-left: 5px;
    transition: transform 0.2s ease;
}

.favorite-icon:hover {
    transform: scale(1.2);
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    font-size: 1.5rem;
    color: var(--color-font);
    font-weight: 600;
}

.pagination button {
    padding: 8px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    background-color: var(--color-main);
    color: var(--color-hover);
    font-weight: 700;
    border-radius: 7px;
}

.pagination button:hover {
    opacity: 0.8;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.loading {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 100px
}



@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .game-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}